@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  font-family: 'Raleway', sans-serif;
}
button {
  background-color: #CCC;
  border: none;
  height: 30px;
  width: 80px;
  margin-left: 1em;
  margin-right: 1em;

  &:hover {
    background-color: $accent-red;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 2em;
}
.profile {
 width: 200px;
 height: 300px;
}
.login {
  text-align: center;
  input {
    line-height: 25px; 
  }
}
.content {
  flex: 1;
  text-align: center;
}

.box {
  border-width: 1px;
  border-style: solid;
  border-color: $accent-red;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
}
.tweet {
  margin: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
}
.tweet-username {
  color: $accent-orange;
}
.date {
  font-style: italic;
  font-size: 10px;
}
.comment {
  border-color: $accent-blue;
  margin: 5px 0 5px 100px;
}
.tweet-form, .comment-form {

  text-align: right;
  padding: 20px;

  textarea {
    display: block;
    height: 100px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $accent-blue;
    margin-bottom: 20px;

  }
}
.comment-form {
  display: flex;
  justify-content: flex-end;
}
.timeline {
  flex: 2;
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 10em;
  #heart{
    color: $accent-red;
  }
}
